# Introduction to Pandas

In [ ]:
#Import Pandas and Numpy

import pandas as pd
import numpy as np

## A Data Frame

![alt text](dataframe.PNG "dataframe.png").

# Read a CSV Into a Data Frame

A CSV File is a "Comma Separated Values" File. Can be created from Excel file by doing " File Save As CSV"

batsman,runs,balls,matches,StrikeRate,Avg
A Symonds,973,734,36,133.0,27.0
AB de Villiers,3460,2296,118,151.0,29.0
AC Gilchrist,2046,1438,80,142.0,26.0
AD Russell,574,325,25,177.0,23.0
AJ Finch,1601,1186,64,135.0,25.0
AM Rahane,3055,2498,105,122.0,29.0

In [ ]:
# Reading the IPL Data
df = pd.read_csv('/Data/bowlers.csv')

In [ ]:
df.tail()

In [ ]:
df.shape

Bowlers datasetÂ¶

:Attribute Information (in order):
    - bowler   name of bowler
    - balls    balls bowled in IPL.
    - runs     runs conceded
    - wkts     Wickets taken
    - innings  matches played
    - wktspermatch      wickets per match *100 
:Missing Attribute Values: None

In [ ]:
# To read a limited number of rows
df = pd.read_csv('/Data/bowlers.csv', nrows=20)

In [ ]:
df.tail()

#### You can get rows and columns using shape attribute

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
#View columns

df.columns

#### Get Types

In [ ]:
df.info()

## Extracting  columns and rows

### There are multiple ways of extracting rows and columns
####  Using .loc  , .iloc and  directly referencing columns and row ranges to the df  e.g df [ ['col1','col2'] ]  or df [ 0:10 ]

In [ ]:
df.head()

### Selecting columns  -  Pass a LIST of columns to the dataframe

In [ ]:
### Multiple Columns - pass a list

X=df[ ['bowler', 'runs','wkts'] ]

In [ ]:
# We can assign the extracted columns to a new dataframe

X= df[ ['bowler', 'runs','wkts'] ]

X.head()

In [ ]:
# A Single column is a series
df['bowler']

 ![Series](series.png "series.png").

## Conditional Access of Rows
#### We can conditionally display parts of table as well -

In [ ]:
df.head()

## Conditional Access   

##  df [  condition ]

In [ ]:
# Show bowlers who have taken exactly 19 wickets
df[ df['wkts']==19  ]

In [ ]:
bowlers1 = df [ df['runs']<100  ]

In [ ]:
bowlers1

#### For multiple conditions , we use & and | (bitwise )

In [ ]:
 df['wkts'] >10

In [ ]:
# Show bowlers who have taken more than 100 wickets and given less than 110 runs per 100 balls (1.1 runs/ball)
df[  (  df['wkts'] >10  ) & (  df['innings'] < 15 )]

### Adding a new columns and updating existing columns-

In [ ]:
df['AvgWkts']=df['wkts']/df['innings']

In [ ]:
df.head()

# Additional Material

## Pandas - Some Useful Operations

#### Read  a new file

In [ ]:
teamdf = pd.read_csv('/Data/bat.csv')

In [ ]:
teamdf.head()

In [ ]:
teamdf.shape

# Checking the unique entries in a column

In [ ]:
batsmen = teamdf['batsman'].unique()
print (len(batsmen), batsmen)

In [ ]:
teamdf

# Getting Aggregates of a Column

In [ ]:
total_runs = teamdf['runs'].sum()
total_runs

In [ ]:
teamdf[['runs','balls']].mean()

In [ ]:
teamdf.mean()


# Grouping Data

In [ ]:
teamdf.groupby('batsman').agg({'runs':sum})


# Sorting Data

In [ ]:
teamdf.head()

In [ ]:
sorted = teamdf.sort_values(by=['batsman'],ascending=True)
sorted.head()

## Power Operations - Pivot and Melt

In [ ]:
ptable = teamdf.pivot_table(index='match', columns='batsman', values='runs', aggfunc='sum')
ptable

In [ ]:
data = pd.DataFrame(ptable.to_records())
data.melt(id_vars=['match'], value_name='runs', var_name='batsman')

### Save to csv

In [ ]:
ptable.to_csv('SavedData.csv')

### Conditional Access:  Using .iloc we access rows and columns using positions of the index

<img src="iloc.png" alt="iloc" align="left" width="600"/>

In [ ]:
# Select row numbers indexed at 7,8,9
# Select column numbers 0,2,3
df.iloc[ [7,8,9] , [0,2,3]  ]

In [ ]:
#All rows and columns
df.iloc[:,:]

In [ ]:
# Range of rows and a range of columns
#  get column index 2-8
df.iloc[:,2:9]

In [ ]:
# Just one row
df.iloc[4]

### Drop a column

In [ ]:
df.drop(['AvgWkts'], axis=1, inplace=True)
df

In [ ]:
#help(df.drop)

## Checking Nulls and Replacing nulls

####  To detect NaN values pandas uses either .isna() or .isnull()

### Finding Columns Which have Null

In [ ]:
#Checking the number of null values in each column
df.isnull().sum()

### Finding Rows Which have Null

In [ ]:
df[df.isnull().any(axis=1)]

In [ ]:
#In case null values exist , to remove the null rows , use -
dropdf=df.dropna()
# To remove null columns, use axis= 1 , HOWEVER we generally refrain from dropping the entire column
#df.dropna(inplace=True)

In [ ]:
dropdf.loc[:5]

### Value Counts get the number of records per value -- and proportions

In [ ]:
summary = teamdf.batsman.value_counts()
summary

In [ ]:
summary = teamdf.batsman.value_counts(normalize=True)
summary

# Assignment

In this assignment you will load the Titanic passengers data and perform some operations on them

The file is located in '/Data/titanic.csv'

Name a dataframe variable called *titanicdf* and load it using the read_csv function

In [ ]:
#Import Pandas and Numpy - run this cell first

import pandas as pd
import numpy as np

### Q1. Read the CSV file

In [ ]:
#replace the word None with a line of code which reads the CSV file called '/Data/titanic.csv'
titanicdf = None

### Q2. View the first 5 records

In [ ]:
#Display the first 5 records of titanicdf -

### Q3.  How many records are there in the Dataset ?

In [ ]:
# How many records are are their in the data frame - Hint : the shape attribute can be used to get the rows and columns

### Q4. What is the minimum and maximum value of a fare column

In [ ]:
# Hint : use the min() and max() functions  on the fare column
# A column can be selected

### Q5. How many people survived ?

#### The 'survived' column has two values 1 = Survived and 0 = Not Survived
Thus if you simply sum the column you should get the number

In [ ]:
# Calculate the number of survivor here

### Q6.  We want to know the count of females who survived and those who didnt  ( to get a sense of likelyhood of survival

In [ ]:
#Assuming Sex=0 is male and Sex=1 is female, we can do this a few steps
# Step 1 :  Select all rows of the dataframe where sex == 1, save it in a new dataframe variable (female_df)
# Step 2 :  Get the survived column from the female dataframe and apply the value_counts() method to get a break up

In [ ]:
# Write the step1 code here

# Step 1 Select all rows of females - replace None with one line of code 
females = None
#Step 2
females['survived'].value_counts()

# Congratulations ! You have completed the assignment

# SOLUTIONS

### Q1. Read the CSV file

In [ ]:
# load  '/Data/titanic.csv' into  dataframe variable called titanicdf

In [ ]:
titanicdf=pd.read_csv('/Data/titanic.csv')

### Q2. View the first 5 records

In [ ]:
#Display the first 5 records of titanicdf

In [ ]:
titanicdf.head()

### Q3.  How many records are there in the Dataset ?

In [ ]:
# How many records are are their in the data frame

In [ ]:
titanicdf.shape

In [ ]:
titanicdf.describe()

### Q4. What is the minimum and maximum value of a fare column

In [ ]:
min_fare = titanicdf['fare'].min()
print(min_fare)

In [ ]:
titanicdf['fare'].max()

### Q5.  How many people survived ?

In [ ]:
#How many people survived (select rows where survived column is equal to 1)

In [ ]:
titanicdf['survived'].sum()

### Q6.  Calculate the Female count of survivors AND the non survivors

In [ ]:
#Assuming Sex=0 is male and Sex=1 is female, Find out the number of females who survived and those who didn't

In [ ]:
# Step 1 : Select all rows of females
females = titanicdf[titanicdf.sex == 1]
# Step 2  Apply the value counts on the survived column
females['survived'].value_counts()